name: CI

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*'
  pull_request:
    branches:
      - '**'
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'
      - name: Make gradlew Executable
        run: chmod +x ./gradlew
      - name: Get Version String
        id: get_version
        run: |
          if [[ $GITHUB_REF == refs/tags/v* ]]; then
            echo "version=${GITHUB_REF_NAME#v}" >> $GITHUB_OUTPUT
          else
            SHORT_SHA=$(echo ${GITHUB_SHA} | cut -c1-7)
            echo "version=${SHORT_SHA}" >> $GITHUB_OUTPUT
          fi
      - name: Build with Gradle
        run: ./gradlew build
        env:
          LSP_VERSION: ${{ steps.get_version.outputs.version }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: LittleSkinPlugin-${{ steps.get_version.outputs.version }}
          path: bundle/build/libs/LittleSkinPlugin-*.jar
          if-no-files-found: error
          overwrite: true
    outputs:
      version: ${{ steps.get_version.outputs.version }}

  release:
    name: Release
    needs: build
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
        - name: Download Artifact
          uses: actions/download-artifact@v7
          with:
            name: LittleSkinPlugin-${{ needs.build.outputs.version }}
            path: .
        - name: Create Release
          uses: softprops/action-gh-release@v2
          with:
              name: LittleSkinPlugin ${{ needs.build.outputs.version }}
              files: LittleSkinPlugin-*.jar
              generate_release_notes: true
              make_latest: true
              prerelease: false
              draft: false